<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla:: head">   
</head>
<body>
    <header th:replace="layout/plantilla:: header"></header>
    
     <section>
            <div class="card" style="margin: 20px auto; box-shadow: 0 4px 8px rgba(0,0,0,0.2); width: 1000px; background-color: white; border-radius: 10px; padding: 20px;">
                <h1 style="text-align: center; animation: changeColor 5s linear infinite;text-shadow: 2px 2px 4px #000000;">[[#{plantilla.titulo.principal}]]</h1>
                <style>
                    @keyframes changeColor {
                        0% {
                            color: rgb(255, 0, 0);
                        }
                        50% {
                            color: rgb(0, 255, 0);
                        }
                        100% {
                            color: rgb(0, 0, 255);
                        }
                    }
                </style>
                

            </div>
        </section>

    
    
    <footer th:replace="layout/plantilla:: footer"></footer>
</body>
</html>
